.screen{
    display: flex;
    justify-content:center;
}

.main-content{
    flex-basis: 80%;
  
}

.profile-info{
    padding: 30px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;  
}

.grey-button{
    border-color:#4C4C4C;
    background-color: #4C4C4C;
}

.profile-img {
    flex:1;
    display: flex;
    justify-content: center;
}

.profile-img > img{
    align-self: auto;
    border-radius: 50%;
    border: 3px solid #00B4CC;
}

.info-container{
    margin-left: 5%;
    flex:4;
    display:flex;
    flex-direction: column;
}

.info-container:first-child{
    margin-left: 5%;
    flex:4;
    display:flex;
    flex-direction: column;
}

.profile-edit>.btn{
    background-color: #00B4CC;
    border-color:#00B4CC;
}
.profile-edit>.btn:hover{
    background-color: rgb(20, 118, 131);
    border-color:rgb(20, 118, 131)
}




.info-uni{
    flex-basis: 40px;
}

.info-job{
    flex-basis: 40px;
}

.info-description{
    flex-basis: 40px;

}

.nav-button-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-button-row >.btn{
    flex:1;
    margin: 30px;
    background-color: #00B4CC;
    border-color:#00B4CC;
    border-radius: 20px;
}
.nav-button-row >.btn:hover{
    background-color: rgb(20, 118, 131);    
}

.myactive{
    background-color:rgb(18, 104, 116)!important;
}


.filter-row{
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
    flex-wrap: wrap;
}

.filter-row > :first-child{
    margin-left: 2%;
}

.filter-row > *{
    border-radius: 15px;
    border: 2px solid #00B4CC;
    padding: 0 10px; 
    flex: 0;
    flex-basis:20%;
}


.result-list{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


.result-item {
    border-radius: 15px 15px 15px 15px;
    background: white;
    border: 3px solid #00B4CC;
    border-radius: 5px;
    flex: 1;
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
 }

.result-item > * {
margin: 0 20px;
}

.result-item > :first-child {
display: flex;
}
.result-item > :first-child > :first-child{
flex:3;

}
.result-item > :first-child{
flex:3;
margin-top: 20px;
}

.result-item > :last-child{
flex:3;
margin-bottom: 20px;
}
.result-item > :first-child > *{
flex:1;
}
.result-item > :first-child >  :not(:first-child){
font-size: 20px;
}


.result-item > :first-child > :last-child>.btn{
border-color:#4C4C4C;
background-color: #4C4C4C;
float: right;
}

.result-item-answer {
    border-radius: 15px 15px 15px 15px;
    background: white;
    border: 3px solid #00B4CC;
    border-radius: 5px;
    flex: 1;
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
 }


 .result-item-answer > * {
    margin: 0 20px;

 }
.result-item-answer > :first-child {
    display: flex;
    margin-top: 20px;
}

.result-item-answer > :last-child {
    display: flex;
    margin-bottom: 20px;
}
.result-item-answer > :nth-child(2) {
    display: flex;
    
}

.result-item-answer > :nth-child(2) > img{
    height: 50px;
    width: 50px;
    align-self: auto;
    border-radius: 50%;
    border: 3px solid #00B4CC;
    margin-right: 10px
}

.result-item-answer > :first-child > :first-child {
    flex:3;
    
}
.result-item-answer > :first-child >* {
    flex:3;
}
.result-item-answer > :first-child > :last-child>* {
    float: right;
}
.result-item-answer > * {
margin: 0 20px;
}

.result-item-answer-bottom-row{
    display:flex;
    flex-wrap: wrap;
}


.result-item-answer-bottom-row > div {
    flex:1;
}

.result-item-answer-bottom-row > div > * {
    float: right;
}

.result-item-answer-bottom-row > div > div   {
    margin-left: 30px
}

















 


